@font-face {
  font-family: SF-400; 
  font-display: swap;
  src: url("assets/fonts/SanFrancisco/SFUIDisplay-Regular.woff") format('woff');         
}

@font-face {
  font-family: SF-700; 
  font-display: swap;
  src: url("assets/fonts/SanFrancisco/SFUIText-Semibold.woff") format('woff');         
}

@font-face {
  font-family: SF-800; 
  font-display: swap;
  src: url("assets/fonts/SanFrancisco/SFUIText-Bold.woff") format('woff');         
}

@font-face {
  font-family: SF-900; 
  font-display: swap;
  src: url("assets/fonts/SanFrancisco/SFUIText-Heavy.woff") format('woff');         
}

@font-face {
  font-family: SF-italic; 
  font-display: swap;
  src: url("assets/fonts/SanFrancisco/SFUIText-Italic.woff") format('woff');         
}


