// Rules
// Не забывать ставить точку с запятой!
// Functions, mixins, variables
@import './global/config/*.pcss';
// Шрифты
@import './global/fonts.pcss';
// Сброс стилей
@import './global/reset.pcss';

// @import './../../../node_modules/animate.pcss/animate.min.pcss';
// Кастомные стили(готовые классы)
@import './global/custom.pcss';
// Глобальные стили
@import './global/global.pcss';
// Анимации
@import './global/animations.pcss';
// Компоненты
@import './components/*.pcss';
// Страницы
@import './pages/the_brief_standard.pcss'; 